<a href="https://colab.research.google.com/github/RafaelKarcz/karatsu_projects/blob/main/Python_7_sqlite3_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import sqlite3

database = sqlite3.connect("test_sample.db")

# create a table
database.execute("create table person(fname, lname)")

In [14]:
import sqlite3

memorydatabase = sqlite3.connect(":memory:")

memorydatabase.execute("create table person(fname, lname)")

In [15]:
persons = [('Rafael', 'Karcz'), ('Nima', 'Hendrick'), ('Stephanie', 'Onodera')]
database.executemany("insert into person(fname, lname) values (?, ?)", persons)

In [16]:
# print the table contents
for row in database.execute("select rowid, fname, lname from person"):
    print(row)

(1, 'Rafael', 'Karcz')
(2, 'Nima', 'Hendrick')
(3, 'Stephanie', 'Onodera')

In [17]:
print("I just deleted", database.execute("delete from person where rowid=2").rowcount, "rows")

I just deleted 1 rows

In [18]:
for row in database.execute("select rowid, fname, lname from person"):
    print(row)

(1, 'Rafael', 'Karcz')
(3, 'Stephanie', 'Onodera')

In [19]:
import sqlite3

# connect to the memory database
conn = sqlite3.connect("business.db")

# create a table
conn.execute("create table if not exists Customers(Name, Address, Country, City)")

In [21]:
Cust = [('Rafael', 'Shiki shi','Japan','Tokyo')]
conn.executemany("insert into Customers(Name, Address, Country, City) values (?, ?, ?, ?)", Cust)
# print the table contents
for row in conn.execute("select rowid, Name, Address, Country, City from Customers"):
    print(row)

(1, 'Rafael', 'Shiki shi', 'Japan', 'Tokyo')